---
import Layout from '../../layouts/Layout.astro';
import IterationSection from '../../components/programming/IterationSection.astro';
import OperatorTable from '../../components/programming/OperatorTable.astro';
import { arithmeticOperators, comparisonOperators } from '../../data/operators';
---

<Layout title="Programming Array 1D - IG Computer Science">
  <h1>Array 1D</h1>
</Layout>