---
interface Props {
	title: string;
	description: string;
	href: string;
}

const { href, title, description } = Astro.props;
---

<div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow">
	<a href={href}>
		<h3 class="text-xl font-semibold mb-2 text-slate-800">{title}</h3>
		<p class="text-slate-600">{description}</p>
	</a>
</div>